ClienteSubastas/src/conf/xml-resources/web-service-references/ServicioSubastasService/wsdl/localhost_8080/ServidorSubastas/ServicioSubastasService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="ServicioSubastasService">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/ServidorSubastas/ServicioSubastasService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="subastasPublicas">
<part name="parameters" element="tns:subastasPublicas"></part>
</message>
<message name="subastasPublicasResponse">
<part name="parameters" element="tns:subastasPublicasResponse"></part>
</message>
<message name="crearCliente">
<part name="parameters" element="tns:crearCliente"></part>
</message>
<message name="crearClienteResponse">
<part name="parameters" element="tns:crearClienteResponse"></part>
</message>
<message name="misSubastas">
<part name="parameters" element="tns:misSubastas"></part>
</message>
<message name="misSubastasResponse">
<part name="parameters" element="tns:misSubastasResponse"></part>
</message>
<message name="comprobarCliente">
<part name="parameters" element="tns:comprobarCliente"></part>
</message>
<message name="comprobarClienteResponse">
<part name="parameters" element="tns:comprobarClienteResponse"></part>
</message>
<message name="crearSubasta">
<part name="parameters" element="tns:crearSubasta"></part>
</message>
<message name="crearSubastaResponse">
<part name="parameters" element="tns:crearSubastaResponse"></part>
</message>
<message name="consultarSubasta">
<part name="parameters" element="tns:consultarSubasta"></part>
</message>
<message name="consultarSubastaResponse">
<part name="parameters" element="tns:consultarSubastaResponse"></part>
</message>
<message name="borrarSubasta">
<part name="parameters" element="tns:borrarSubasta"></part>
</message>
<message name="borrarSubastaResponse">
<part name="parameters" element="tns:borrarSubastaResponse"></part>
</message>
<message name="isUsuarioInserted">
<part name="parameters" element="tns:isUsuarioInserted"></part>
</message>
<message name="isUsuarioInsertedResponse">
<part name="parameters" element="tns:isUsuarioInsertedResponse"></part>
</message>
<portType name="ServicioSubastas">
<operation name="subastasPublicas">
<input message="tns:subastasPublicas"></input>
<output message="tns:subastasPublicasResponse"></output>
</operation>
<operation name="crearCliente">
<input message="tns:crearCliente"></input>
<output message="tns:crearClienteResponse"></output>
</operation>
<operation name="misSubastas">
<input message="tns:misSubastas"></input>
<output message="tns:misSubastasResponse"></output>
</operation>
<operation name="comprobarCliente">
<input message="tns:comprobarCliente"></input>
<output message="tns:comprobarClienteResponse"></output>
</operation>
<operation name="crearSubasta">
<input message="tns:crearSubasta"></input>
<output message="tns:crearSubastaResponse"></output>
</operation>
<operation name="consultarSubasta">
<input message="tns:consultarSubasta"></input>
<output message="tns:consultarSubastaResponse"></output>
</operation>
<operation name="borrarSubasta">
<input message="tns:borrarSubasta"></input>
<output message="tns:borrarSubastaResponse"></output>
</operation>
<operation name="isUsuarioInserted">
<input message="tns:isUsuarioInserted"></input>
<output message="tns:isUsuarioInsertedResponse"></output>
</operation>
</portType>
<binding name="ServicioSubastasPortBinding" type="tns:ServicioSubastas">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="subastasPublicas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="crearCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="misSubastas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="comprobarCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="crearSubasta">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="consultarSubasta">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="borrarSubasta">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="isUsuarioInserted">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="ServicioSubastasService">
<port name="ServicioSubastasPort" binding="tns:ServicioSubastasPortBinding">
<soap:address location="http://localhost:8080/ServidorSubastas/ServicioSubastasService"></soap:address>
</port>
</service>
</definitions>